:root {
    --smol-img: 5vh;
    --mid-img: 7vh;
    --big-img: 50vh;
    --stubby: 10vw;
    --short: 20vw;
    --span: 70vw;
    --full: 95vw;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.content {
    margin: 0 auto;
    padding: 0 1em;
}

.author-title {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}

.author-title h2 {
    font-size: 3em;
}

.profile-image img {
    border-radius: 50%;
    width: var(--mid-img);
}

.author-bio {
    width: var(--span);
}


.author-bio {
    font-size: 1em;
    width: var(--full);
}

.subtitle {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.topics-grid {

    gap: 1.5em;
}

.topic-card {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: var(--span);
    height: var(--big-img);
    background-size: cover;
    background-position: 0 110vh;
    margin-bottom: var(--smol-img);
}

.topic-name {
    color: white;
    padding: 10px;
    margin: 0;

}

.topic-card p {
    color: #ccc;
    padding: 0 10px;
    margin: 5px 0;
}

.hidden {
    display: none;
}

#resume-preview {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}
  
#resume-preview img {
    width: var(--full);
    height: auto;
}

.button {
    display: flex;
    justify-content: center;
    width: var(--full);
}

#resume-button {
    background-color: #333;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 200;
    font-size: 1em;
    margin: 5vh auto;
    padding: 0.7em 1em;
}

.resume-preview {
    background: url('/assets/images/resume.png');
    background-size: cover;
    width: 8em;
    height: 2.5em;
}

#resume-view object {
    width: 95vw;
    height: 60vh;
}

@media screen and (max-width: 810px) {
    .author-bio {
        font-size: 1em;
    }
    .author-title h2 {
        font-size: 2em;
    }
    .profile-image img {
        border-radius: 50%;
        width: var(--mid-img);
    }
}

@media screen and (max-width: 530px) {
    .author-bio p {
        font-size: 0.8em;
    }
    .author-title h2 {
        font-size: 1.5em;
    }
    .profile-image img {
        border-radius: 50%;
        width: var(--mid-img);
    }
    #resume-button {
        font-size: 0.8em;
    }
    #resume-view object {
        transform: scale(0.9) translateX(-3vw);
        width: 100vw;
    }
}

@media screen and (max-width: 444px) {
    .author-bio p {
        font-size: 0.6em;
    }
    .author-title h2 {
        font-size: 1em;
    }
    .profile-image img {
        border-radius: 50%;
        width: 75px;
    }
    #resume-button {
        font-size: 0.6em;
    }
    #resume-view object {
        transform: scale(0.85) translateX(-5vw);
        width: 100vw;
    }
}
