.content {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 1em;
}

.author-title {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}

.author-title h2 {
    font-size: 3em;
}

.profile-image img {
    border-radius: 50%;
    width: 150px;
}

@media screen and (max-width: 810px) {
    .author-title h2 {
        font-size: 2em;
    }

    .profile-image img {
        border-radius: 50%;
        width: 125px;
    }

    .author-bio {
        font-size: 1em;
    }
}

@media screen and (max-width: 530px) {
    .author-title h2 {
        font-size: 1.5em;
    }

    .profile-image img {
        border-radius: 50%;
        width: 125px;
    }

    .author-bio {
        font-size: 1em;
    }
}

@media screen and (max-width: 444px) {
    .author-title h2 {
        font-size: 1em;
    }

    .profile-image img {
        border-radius: 50%;
        width: 75px;
    }

    .author-bio p {
        font-size: 0.6em;
    }
}

.author-bio {
    font-size: 1em;
    width: 100%;
}

.subtitle {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

h1 {
    animation: claws 5s ease-in-out infinite;
    color: white;
    font-family: "danfo";
    font-weight: 100;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

#resume-preview {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}
  
#resume-preview img {
    width: 100%;
    height: auto;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
}

#resume-button {
    background-color: #333;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 200;
    font-size: 1em;
    margin: 5vh auto;
    padding: 0.7em 1em;
}

.resume-preview {
    background: url('/assets/images/resume.png');
    background-size: cover;
    width: 8em;
    height: 2.5em;
}