@font-face {
    font-family: "any";
    src: url('/assets/fonts/anybody-var-wdth-wght.ttf');
    font-style: normal;
}

@font-face {
    font-family: "danfo";
    src: url('/assets/fonts/danfo-var-elsh.ttf');
    font-style: normal;
}

@keyframes claws {
    0%, 100% { font-variation-settings: "ELSH" 0; }
    50% { font-variation-settings: "ELSH" 100; }
}

body, html {
    background-color: #1a1a1a;
    color: #fff;
    font-family: "any";
    font-size: 20px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
