.blog-content {
    margin: 0 auto;
}

.blog-post {
    box-shadow: 2px 2px 0 1px var(--color-card-border);
}

.post-meta {
    color: var(--color-accent);
}

.read-more, .discuss, .share {
    color: var(--color-link);
}
