.header {
    background-image: url('/assets/images/white-mountain-hazy-fog-inverted.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    position: relative;
}

.header::before {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.header > * {
    position: relative;
    z-index: 2;
}

.content {
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
}

.title {
    align-items: center;
    animation: claws 10s ease-in-out infinite;
    display: flex;
    font-family: "danfo";
    font-size: 5em;
    font-weight: 500;
    justify-content: center;
    margin-bottom: -2vh;
}

@keyframes spins {
    50% { transform: rotate(360deg);}
}

.title img {
    align-items: inherit;
    animation: spins 7s ease-in-out infinite;
    display: inherit;
    width: 0.8em;
}

.subtitle {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300;
}

.c2a {
    font-size: 0.7em;
}

@media screen and (max-width: 810px) {
    .title {
        font-size: 3.6em;
    }
    .subtitle {
        font-size: 1.2em;
    }
    .c2a {
        font-size: 0.55em;
    }
}
@media screen and (max-width: 530px) {
    .title {
        font-size: 3em;
    }
    .subtitle {
        font-size: 1em;
    }
    .c2a {
        font-size: 0.46em;
    }
}
@media screen and (max-width: 444px) {
    .title {
        font-size: 2.4em;
    }
    .subtitle {
        font-size: 0.9em;
    }
    .c2a {
        font-size: 0.42em;
    }
}