/* GLOBAL STYLES */
body, html {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* ***** */

/* NAVIGATION BAR STYLES */
.nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.nav-item {
    color: #fff;
    margin-left: 20px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

@keyframes bob {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

.nav-item.animate {
    animation: bob 2s ease-in-out infinite;
}
/* ***** */

/* INITIAL TITLE STYLES */
.header {
    background-image: url('/assets/images/cereal-point-guy-white.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    position: relative;
}

/* Add an overlay to the header */
.header::before {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/* Ensure content is above the overlay */
.header > * {
    position: relative;
    z-index: 2;
}

.title {
    text-align: center;
    padding-top: 30vh;
}

.subtitle {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* ***** */
